.h-100vh {
  height: 100vh;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-y {
  display: flex;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.fs-md {
  font-size: 14px
}

.fs-sm {
  font-size: 12px
}

.fs-xs {
  font-size: 10px
}

.transition-03 {
  @include prefixer(transition, var(--time-transition) ease-in-out);
}

.transition-1 {
  @include prefixer(transition, var(--time-long) ease-in-out);
}

.pointer {
  cursor: pointer;
}