.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center-y {
  display: flex;
  align-items: center;
}
.flex-1 {
  flex: 1;
}

.transition-03 {
  @include prefixer(transition, var(--time-transition) ease-in-out);
}

.transition-1 {
  @include prefixer(transition, var(--time-long) ease-in-out);
}

.pointer {
  cursor: pointer;
}
