$xxs: "(max-width: 400px)";
$xs: "(max-width: 575.9px)";
$sm: "(min-width: 576px)";
$md: "(min-width: 768px)";
$lg: "(min-width: 992px)";
$xl: "(min-width: 1200px)";
$xxl: "(min-width: 1400px)";

$lg-max: "(max-width: 992px)";

:root {
  --time-transition: 0.3s;
  --time-long: 1s;

  --c-grey-text: #626262;

  --c-main: #2015ec;
  --c-main-shadow: #2015ecac;
  --c-main-transparent: #2015ec6e;

  --c-second: #ffffff;
  --c-second-shadow: #e1e1e1;
  --c-second-transparent: #80808078;
  --c-second-overlay: #e9ecef30;

  --p-main: #0e313d;
  --p-main-transparent: rgb(14, 49, 61, 0.95);
  --p-main-overlay: rgba(14, 44, 54, 0.85);

  --p-second: #c89040;
  --p-second-transparent: rgba(200, 144, 64, 0.60);

  --p-third: #3f444b;
}
